.auth_sub_emp{
    background-image: url(./img/employee.jpg);
    width: 100%;
    flex: 1;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    padding: 25px;
    height: 100vh;
}
.tbl_con{
    overflow-x: auto;
    white-space: nowrap;
}
.tbl_btn{
    background-color:black;
    cursor: pointer;
    color: white;
    border: 0;
    border-radius: 2px;
    padding:3px 8px;
    cursor: pointer;
}

.cenbtn{
    margin: 0 10px;
}